---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spotify Clon">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-green-500"
  >
    Hello World
  </div>
</Layout>
<style></style>
